---
layout: default
title: Papers
---


{% assign groups = site.papers | group_by: "category" | sort: "authors" %}

<div>

    {% for group in groups %}

        <h3>{{ group.name }}</h3>
        <ul class="list-group list-group-flush">
        {% for paper in group.items %}
        <li class="list-group-item mt-2 border-0">
            <div>
                <h5><a class="link-dark" href="{{ paper.url }}">{{ paper.title }}</a></h5>
            </div>
            <div>
                {{ paper.authors }}
            </div>
            <div>
                <span class="aparte">Abstract</span> <a class="caret" data-toggle="collapse" href="#{{ paper.tag }}" role="button" aria-expanded="false" aria-controls="{{ paper.tag }}"><i class="fas fa-caret-up"></i></a>
                <p class="collapse" id="{{ paper.tag }}">
                {{ paper.abstract }}
                </p>
            </div>

        </li>
    {%endfor%}
    </ul>


{% endfor %}


</div>


