body {
	/*#font-family: "Latin Modern";*/
	min-height: 75rem; /* for the sticky top navbar */
  	padding-top: 4.5rem; /* for the sticky top navbar */
}


/* links */
.nav-link {
    color: #636b6d;
}

.nav-link:visited {
    color: #8d979a;
}

.nav-link:hover {
    color: #8d979a;
}


