
.aparte {
}

.aparte .close {
	margin-bottom: -1rem !important;
}

.close {
	font-size: 1rem;
}

.fas {
    color: rgb(64, 64, 64);
    padding-left: 0.5rem;
}

h3 .fas {
	font-size: 1rem;
}

.alert_math {
	padding: 0;
}